.Home {
  text-align: center;

  .banner {
    background: url('./images/coffee-banner.jpg');
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
    
    .heading{
      position: absolute;
      width: 50%;
      top: 175px;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      background: rgba(245, 240, 246, 0.5);
      padding: 20px;
      border-radius: 20px;
      
      h1 {
        color: black;
        font-size: 3em !important;
      }

      h2 {
        font-size: 2.1em !important;
      }
    }
  }

  .card {
    margin-top: 20px;
    min-height: 100%;
    p.title {
      text-align: center;
    }

    .fa-stack-2x {
      color: $primaryColor;
    }

    .fa-stack-1x {
      color: $secondaryColor;
    }
  }

  @media (max-width: 450px) {
    .heading {
      top: 115px !important;
      width: 80% !important;
    }
  }
}